.Rproj.user
.Rhistory
.RData
.Ruserdata
*.csv
*#
*~
__pycache__
.dir-locals.el
.idea/
.ipynb_checkpoints/
*.7z
*.html
*.gz
*.out
*.state
notebooks/charts
notebooks/models
notebooks/runs
runs/
agnis/
plots
*.zip
